# global patterns
.gradle
.settings
.project
.classpath
.springBeans
rebel.xml
build.gradle
gradle.properties

# patterns for project root directory
/bin
/build
/work
/workspace
/gradle.properties
/target
/war
/gwt-unitCache