@CHARSET "ISO-8859-1";
body {
    background-color: #FFFFFF;
  	/* Margin bottom by footer height */
  	margin-bottom: 60px;
  	font-size: 14px;
  	font-family: "Calibri",sans-serif;
}
div.jumbotron {
    text-align: center;
    color: #ffffff;
    background-color: #88D2F2;
}
div.layout_body {
	 float:left;
	 padding-left:10px;
	 padding-bottom:70px;
	 width:80%;
	 border-left:1px solid pink;"
}