@CHARSET "ISO-8859-1";
*{padding:0;margin:0;}
/*VERTICAL MENU*/

div.layout_menu{
	float:left;
	padding:10px;
	width:15%;
}

nav.vertical{
  position:relative;
  width:80%;
  padding: 5px;
  
}

/* ALL UL */
nav.vertical ul{
  list-style: none;
}
/* ALL LI */
nav.vertical li{
  position:relative;
  z-index: 999;
}
/* ALL A */
nav.vertical a{
  display:block;
  color:#ffffff;
  text-decoration:none;
  padding:10px 15px;
  background:#88D2F2;
  transition:0.2s;
  z-index: 999;
}
/* ALL A HOVER */
nav.vertical li:hover > a{
  background:#778;
}

/* INNER UL HIDE */
nav.vertical ul ul{
  position:absolute;
  left:0%;
  top:0;
  width:100%;
  visibility:hidden;
  opacity:0;
  transition: transform 0.2s;
  transform: translateX(50px);
}
/* INNER UL SHOW */
nav.vertical li:hover > ul{
  left:100%;
  visibility:visible;
  opacity:1;
  transform: translateX(0px);
}