@CHARSET "ISO-8859-1";
/* ALL Buttons */
.button{
    background-color: #88D2F2;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
    height: 200px;
	transition: transform 0.2s;
	transform: translateX(50px);
}
.button:HOVER {
	background:#778;
}
div.background {
  background: url("#{resource['common/images/spring.png']}");
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
